<div class="callout large">
<div class="row column text-center">
<h1>Mantle</h1>
<p class="lead"><h6>Less Stress. Higher Quality of Life.</h6></p>
<a href="/sign-up" class="button large">Sign Up</a>
<a href="/admin" class="button large hollow">Login</a>
</div>
</div>
<div class="row">
<div class="medium-6 columns medium-push-6">
<img class="thumbnail" width="750" height="300" src="/assets/media/young_old_profile_shot.jpg">
</div>
<div class="medium-6 columns medium-pull-6">
<h2>One place to coordinate support for your loved one.</h2>
<p>We love to do this and that and this and that and whatever.</p>
</div>
</div>
<div class="row">
<div class="medium-4 columns">
<h3>Profile</h3>
<p>Create a detailed profile that shows all the important needs and notes about the person.</p>
</div>
<div class="medium-4 columns">
<h3>Scheduler</h3>
<p>Coordinate events and To-Dos to better adapt service.</p>
</div>
<div class="medium-4 columns">
<h3>Notifications</h3>
<p>Let others know about important things.</p>
</div>
</div>
<!-- <hr> -->
<div class="row column callout">
<ul class="vertical medium-horizontal menu expanded text-center">
<li><a href="/elders"><div class="stat">11</div><span>Elders</span></a></li>
<li><a href="/caregivers"><div class="stat">6</div><span>Caregivers</span></a></li>
<!-- <li><a href="/stories"><div class="stat">24</div><span>Stories</span></a></li> -->
<li><a href="/maps"><div class="stat">7</div><span>Maps</span></a></li>
<li><a href="/knowledge-base"><div class="stat">3</div><span>Topics</span></a></li>
</ul>
</div>
<!-- <hr> -->
<!-- <div class="row column">
<h4>Our Team</h4>
</div>
<div class="row medium-up-3 large-up-6">
  <div class="column">
  <img class="thumbnail" src="http://lorempixel.com/g/300/300/people?1">
  </div>
  <div class="column">
  <img class="thumbnail" src="http://lorempixel.com/g/300/300/people?2">
  </div>
  <div class="column">
  <img class="thumbnail" src="http://lorempixel.com/g/300/300/people?3">
  </div>
  <div class="column">
  <img class="thumbnail" src="http://lorempixel.com/g/300/300/people?4">
  </div>
  <div class="column">
  <img class="thumbnail" src="http://lorempixel.com/g/300/300/people?5">
  </div>
  <div class="column">
  <img class="thumbnail" src="http://lorempixel.com/g/300/300/people?6">
  </div>
</div>
 -->