<div class="callout large">
<div class="row column text-center">
<h1 class="uppercase">Mantle</h1>
<p class="lead"><h6>Less Stress. Higher Quality of Life.</h6></p>
<a href="/sign-up" class="button large">View Demo</a>
</div>
</div>
<div class="row top-margin">
<div class="small-12 columns center">
<h2>One place to coordinate support for your loved one.</h2>
<p>We love to do this and that and this and that and whatever.</p>
</div>
<div class="small-12 columns center">
<img class="thumbnail" width="750" height="300" src="/assets/media/young_old_profile_shot.jpg">
</div>
</div>
<div class="row top-margin bottom-margin">
  <div class="small-12 columns">
    <h3 class="title-header">Features</h3>
  </div>
</div>
<div class="row bottom-margin">
  <div class="small-12 large-9 large-centered columns">
    <div class="medium-4 columns">
      <h5>Profile</h5>
      <p>Create a detailed profile that shows all the important needs and notes about the person.</p>
    </div>
    <div class="medium-4 columns">
      <h5>Scheduler</h5>
      <p>Coordinate events and To-Dos to better adapt service.</p>
    </div>
    <div class="medium-4 columns">
      <h5>Notifications</h5>
      <p>Let others know about important things.</p>
    </div>
  </div>
</div>
<!-- <hr> -->
<div class="row top-margin bottom-margin">
  <div class="small-12 columns center">
    <h4>Start organing your elder's care today.</h4>
    <a href="/sign-up" class="button large">View Demo</a>
  </div>
</div>
<div class="row column">
  <ul class="callout vertical medium-horizontal menu expanded text-center">
  <!-- SHOULD BE DYNAMICALLY UPDATED BUT LEFT HARDCODED FOR NOW -->
  <li><a href="/elders"><div class="stat">11</div><span>Elders</span></a></li>
  <li><a href="/caregivers"><div class="stat">6</div><span>Caregivers</span></a></li>
  <!-- <li><a href="/stories"><div class="stat">24</div><span>Stories</span></a></li> -->
  <li><a href="/maps"><div class="stat">7</div><span>Maps</span></a></li>
  <li><a href="/knowledge-base"><div class="stat">3</div><span>Topics</span></a></li>
  </ul>
</div>
<!-- <hr> -->
<!-- <div class="row column">
<h4>Our Team</h4>
</div>
<div class="row medium-up-3 large-up-6">
  <div class="column">
  <img class="thumbnail" src="http://lorempixel.com/g/300/300/people?1">
  </div>
  <div class="column">
  <img class="thumbnail" src="http://lorempixel.com/g/300/300/people?2">
  </div>
  <div class="column">
  <img class="thumbnail" src="http://lorempixel.com/g/300/300/people?3">
  </div>
  <div class="column">
  <img class="thumbnail" src="http://lorempixel.com/g/300/300/people?4">
  </div>
</div>
 -->