<div class="callout large">
<div class="row column text-center">
<img src="/assets/media/logo.svg" width="300">
<p class="lead" style="margin-top:-15px;"><h6>Less Stress. Higher Quality of Life.</h6></p>
<a href="/sign-up" class="button large">View Demo</a>
</div>
</div>
<div class="row top-margin">
<div class="small-12 columns center">
<h3>One place to coordinate support for your loved one.</h3>
<!-- <p>We love to do this and that and this and that and whatever.</p> -->
</div>
<div class="small-12 columns center">
<img class="thumbnail" width="750" height="300" src="/assets/media/young_old_profile_shot.jpg">
</div>
</div>
<div class="row top-margin bottom-margin">
  <div class="small-12 columns">
    <h3 class="title-header center">Features</h3>
  </div>
</div>
<div class="row bottom-margin">
  <div class="small-12 large-9 large-centered columns">
    <div class="row">
      <div class="medium-4 columns">
        <h5>Profile</h5>
        <p>A place for family to organize and quickly access actionable information on medications, doctors, errands, status updates and more.</p>
      </div>
      <div class="medium-4 columns">
        <h5>Create to-dos and assign them to family members</h5>
        <p>From shopping list items to appointments, create and assign tasks and reminders to keep the whole family organized and engaged.</p>
      </div>
      <div class="medium-4 columns">
        <h5>Shared calendar and Scheduler</h5>
        <p>Keep track of medical appointments, medication refills, and other important dates. Share access with others so they plan and coordinate.</p>
      </div>
    </div>
    <div class="row top-margin">
      <div class="medium-4 columns">
        <h5>Bulletin/Newsfeed</h5>
        <p>Document and share updates and announcements to make it easy for rest of the family to stay in the loop.</p>
      </div>
      <div class="medium-4 columns">
        <h5>Notifications</h5>
        <p>Send helpful and timely notifications ensuring medication is taken on time and no important task or update falls through the cracks.</p>
      </div>
      <div class="medium-4 columns">
        <h5>Resources</h5>
        <p>Helpful information and tips on health topics relevant to you and your family as well as nearby locations for assistance and activities.</p>
      </div>
    </div>
  </div>
</div>
<!-- <hr> -->
<div class="row top-margin bottom-margin">
  <div class="small-12 columns center">
    <h4>Start organizing your elder's care today.</h4>
    <a href="/sign-up" class="button large">View Demo</a>
  </div>
</div>
<div class="row column">
  <ul class="callout add-color vertical medium-horizontal menu expanded text-center">
  <!-- SHOULD BE DYNAMICALLY UPDATED BUT LEFT HARDCODED FOR NOW -->
  <li><a href="/elders"><div class="stat">11</div><span>Elders</span></a></li>
  <li><a href="/caregivers"><div class="stat">6</div><span>Caregivers</span></a></li>
  <!-- <li><a href="/stories"><div class="stat">24</div><span>Stories</span></a></li> -->
  <li><a href="/maps"><div class="stat">7</div><span>Maps</span></a></li>
  <li><a href="/knowledge-base"><div class="stat">3</div><span>Topics</span></a></li>
  </ul>
</div>
<!-- <hr> -->
<!-- <div class="row column">
<h4>Our Team</h4>
</div>
<div class="row medium-up-3 large-up-6">
  <div class="column">
  <img class="thumbnail" src="http://lorempixel.com/g/300/300/people?1">
  </div>
  <div class="column">
  <img class="thumbnail" src="http://lorempixel.com/g/300/300/people?2">
  </div>
  <div class="column">
  <img class="thumbnail" src="http://lorempixel.com/g/300/300/people?3">
  </div>
  <div class="column">
  <img class="thumbnail" src="http://lorempixel.com/g/300/300/people?4">
  </div>
</div>
 -->