<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MANTLE</title>
    <link rel="stylesheet" href="/assets/styles/normalize.css">
    <link href='/assets/styles/foundation-icons.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/styles/styles.css">

  </head>
  <body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text"><a href="/">Mantle</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="/elders">Elders</a></li>
        <li><a href="/caregivers">Caregivers</a></li>
        <li><a href="/maps">Maps</a></li>
        <li><a href="/knowledge-base">Resources</a></li>
      </ul>
    </div>
  </div>
 
    {{{ template }}}
    <hr>
    <div class="row column">
      <a class="menu" href="/">Amazing Friends ©2016</a>
    </div>
  <!--   <hr>
    <div class="row column">
    <ul class="menu">
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
    <li><a href="#">Three</a></li>
    <li><a href="#">Four</a></li>
    </ul>
    </div> -->

    <script src="/assets/scripts/jquery.js"></script>
    <script src="/assets/scripts/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
    
  </body>
</html>
