
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Citizen</title>

    <link rel="stylesheet" href="/assets/styles/normalize.css">
    <link rel="stylesheet" href="/assets/styles/profile.css">
    <link rel="stylesheet" href="/assets/styles/foundation.css">
    <link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

    <script src="/assets/scripts/modernizr.min.js"></script>
  </head>
  <body>
    {{{ template }}}
    <script src="/assets/scripts/jquery.js"></script>
    <script src="/assets/scripts/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>

