<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MANTLE - Lower Stress, Higher Quality of Life</title>
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <link href='/assets/styles/foundation-icons.css' rel='stylesheet' type='text/css'>

  </head>
  <body>
    {{{ template }}}
    <script src="/assets/scripts/jquery.js"></script>
    <script src="/assets/scripts/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
