<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="/assets/styles/foundation.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
 
</head>
<body>
{{{ template }}}
<script src="/assets/styles/jquery.js"></script>
<script src="/assets/styles/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>
