<div>
  <div> <em>{{fields.full_name}}</em> </div>
  <div> <img src="{{fields.profile_img}}"> </div>
  <div> <p>{{fields.gender}}</p> </div>
  <div> <p>{{fields.birth_date}}</p> </div>
  <div> <p>{{fields.weight}}</p> </div>
  <div> <p>{{fields.height}}</p> </div>
  <div> <p>{{fields.visiting_hours}}</p> </div>
  <div> <p>{{fields.call_hours}}</p> </div>
  <div> <p>{{fields.diet_restrictions}}</p> </div>
  <div> <p>{{fields.medications}}</p> </div>
  <div> <p>{{fields.medications_schedule}}</p> </div>
  <div> <p>{{fields.medical_conditions}}</p> </div>
</div>