<div class="row top-margin">
  <div class="small-12">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li>
          <span class="show-for-sr">Current: </span> Categories
        </li>
      </ul>
    </nav>
  </div>
</div>


<div class="callout small primary">
    <div class="row column text-center">
      <h3>Knowledge Base: Categories</h3>
    </div>
  </div>
  <div class="row" id="content">
  <div class="columns">
  {{#each categories}}
    <div class="blog-post callout text-center">
      <a href="/{{../public_path}}/categories/{{permalink}}">
        <h3>{{ title }}</h3>
      </a>
    </div>
  {{/each}}
  </div>
</div>