.columns {
  /*border: 2px solid black;*/
  margin-top: 10px;
}

.circle{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px auto;
}

.person{
  margin-top: 40px;
}

.head-profile{
  background-color: salmon;
}

h1,h2{
  text-transform: uppercase;
}